<div class="row">
    <h2>Employee List</h2>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>EMP ID</th>
            <th>EMP NAME</th>
            <th>EMAIL ID</th>
            <th>PHONE NO</th>
            <th>GENDER</th>
            <th>SALARY</th>
            <th>LOCATION</th>
            <th>ASSET</th>
            <th>UNIT</th>
            <th>PROJECT CODE</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <nav *ngIf="employees.length>0">
        <tr *ngFor="let emp of employees">
            <td>{{emp.empid}}</td>
            <td>{{emp.empname}}</td>
            <td>{{emp.emailid}}</td>
            <td>{{emp.phno}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.location}}</td>
            <td>{{emp.isassert}}</td>
            <td>{{emp.unit}}</td>
            <td>{{emp.projectcode}}</td>
            <td>
                <button class="btn btn-primary " (click)="updateEmployee(emp.id)" > Update </button>
                <button class="btn btn-danger" (click)="deleteEmployee(emp.id)" style="margin-left: 10px;"> Delete </button>
                
            </td>
        </tr>
    </nav>
    </tbody>
</table>